/**
 *
 * STYLES: Blog Index Block AIS
 *
 */

.archive-index-ias {

	// border: 1rem solid red;

	.block-after-header {

		background-color: $cg-primary-light;
		padding-top: 40px;
		padding-bottom: 30px;
		margin-top: 50px;
		text-align: center;

		@media (max-width: 781px) {
			margin-top: 50px;
		}

		h1 {

			color: $white;
			text-transform: uppercase;
			margin-bottom: 0px;
		}
	}


	.container {
		padding: 2rem;
		margin-top: 2rem;
	}

	.post-item-container {
		// border: 1rem solid red;
	}

	.post-nav-holder {
		margin-top: 2rem;
		border: 1px solid $cg-button;
		border-radius: 50px;
		padding: 1rem 3rem;
		background-color: $cg-primary;
		
		.nav-links {

			.nav-previous {
				float: left;
				padding-right: 1rem;
			}
			.nav-next {
				float: right;
			}
		}
	}



 	.post-item {
 		// text-align: center;
 		// box-shadow: 1px 1px 6px lighten($cg-primary, 20%);

 		.entry-content {
	 		margin-bottom: 2rem;

 			.featured-image-box {
				float: none;
	 			overflow: hidden;
	 			margin-top: 1rem;

				img {
				    @include transition-property(all);
				    @include transition-duration(.5s);
				    @include transition-timing-function(ease);
					width: 100%;

					&:hover {
						@include transform(scale(1.1));
						opacity: .5;
					}
				}
	 		}
	 		.moretag {
	 			display: block;
	 			clear: both;
	 			float: right;
	 			background: transparent;
	 			font-size: 1rem;
	 			font-weight: 700;
	 			color: $cg-link;
	 			border: none;
	 			margin-top: 1.5rem;

	 			&:hover {
					color: darken($cg-button, 15%) !important;
	 			}

				@media (max-width: 490px) {
					float: none;
				}
	 		}
	 		.entry-title {
	 			// padding-top: 2rem;
	 			font-size: 1.3rem ;
	 			font-weight: 600;
	 			margin-top: 1rem;
	 		}
	 		.entry-meta {
	 			// padding-bottom: 2rem;

				padding-bottom: 15px;

				span {

					&.posted-on {

						// padding-left: 99px;

						&:before {

							content: '';
						}

						@media (max-width: 456px) {
							padding-left: 15px !important;
						}
					}
				}

	 			.posted-on {
	 				font-size: .85rem !important;
	 				// border: 1px solid red;
	 				&:before {
	 					font-family: 'FontAwesome';
	 					content: "\f017";
	 					color: $cg-secondary;
	 					padding-right: .5rem;
	 					padding-left: .5rem;
	 				}
	 			}

	 			.bylines {
	 				// border: 1px solid red;
	 				text-transform: capitalize;
	 				&:before {
	 					// font-family: 'FontAwesome';
	 					// content: "\f234";
	 					color: $cg-secondary;
	 					// padding-right: .5rem;
	 					// padding-left: .5rem;
	 				}
	 			}
	 		}
	 	}

		.gc-post-item-footer {

			/*padding-top: 15px;
			padding-bottom: 15px;*/

			margin-top: 7px;
			display: inline-block;
    		width: 100%;

			span {

				&.comments-count {

					&::before {

						content: url(../../../assets/img/comment_icon.svg);
					    display: inline-block;
					    vertical-align: top;
					    padding-right: 15px;
					}
				}

				&:nth-child(odd) {

					float: left;
				}

				&:nth-child(even) {

					float: right;
				}
			}
		}
 	}
 }
