/**
 *
 * Comments style Cyberize
 *
 */

.content-area {

	#comments {
		margin-bottom: 3rem;
		// border: 1rem solid red;

		.comment-list {
			list-style: none;

			.children {
				list-style: none;
			}
		}

		.comments-title {
			font-size: 1rem !important;
			font-weight: bold;
			padding-bottom: 1.5rem;
		}

		.comment-body {
			border: 1px solid #e3e3e3;
			margin-bottom: .5rem;
			// padding: .5rem;
			.reply {
				padding-left: .25rem;
			}

			.comment-meta {
				@include clearfix();
				background-color: #e3e3e3 !important;
				padding: .25rem 1rem;
				height: 1.5rem;
			}

			.comment-author.vcard {
				float: left;
				font-size: .75rem;
				// margin-bottom: .5rem;

				img {
					width: 35px !important;
					float: left !important;
				}
			}

			.comment-metadata {
				float: right;
				font-size: .75rem;
				// padding-bottom: .5rem;
				// border: 1px solid red;
			}
			.comment-content {
				margin-top: 2rem;
				padding: .5rem;

				p {
					font-size: .75rem !important;
				}
			}
		}

		#commentform {

			.comment-form-author {
				// display: none;
			}
			.comment-form-url {
				display: none;
			}

			input {
				width: 100%;
				// background-color: lighten($cg-secondary, 0%);
				border: 1px solid lighten($cg-primary, 0%);
				outline-color: $cg-primary;
				@include border-bottom-right-radius(60px);	
			}
			textarea {
				width: 100%;
				// background-color: lighten($cg-primary, 45%);
				border: 1px solid lighten($cg-primary, 0%);
				outline-color: $cg-primary;
				// @include border-top-left-radius(60px);
				@include border-bottom-right-radius(60px);	
				box-sizing: border-box;
			}
			#submit {
				background-color: lighten($cg-primary, 10%);
				color: lighten($cg-primary, 40%);
				&:hover {
					// background-color: lighten($cg-primary, 0%);
					color: white;
				}
			}
		}	
	}
}
